<div class="col-12 d-flex justify-content-center py-3 font-weight-bold">
   <h4>Registro de visita programada</h4>
</div>

<form [formGroup]="registroVisita" (ngSubmit)="grabar()">

    <div class="form-group row mb-3">
        <label for="numDocumento" class="col-sm-2 col-form-label">Número de documento</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="numDocumento" formControlName="numDocumento">
    
          <div *ngIf="numDocumento !=null && numDocumento.errors && isSubmit">
            <div *ngIf="numDocumento.errors?.['required']" >
              <small  class="invalid-feedback">Dato requerido</small>
            </div>
          </div>
    
        </div>
      </div>  

    <div class="form-group row mb-3">
        <label for="nombre" class="col-sm-2 col-form-label">Nombres</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="apellido" class="col-sm-2 col-form-label">Apellidos</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apellido" formControlName="apellido">
        </div>

    </div>

    <div class="form-group row mb-3">
        <label for="lineaServicio" class="col-sm-2 col-form-label">Linea Servicio</label>
        <div class="col-sm-10">
    
          <select id="lineaServicio" class="form-select" formControlName="lineaServicio" (change)="lineaServicioSeleccionado()">
            <option selected value="">-- Seleccione Linea de Servicio --</option>
            <option [value]="item.id_linea" *ngFor="let item of listLinea">{{item.nombre_linea}}</option>
          </select>
    
          <div *ngIf="lineaServicio !=null && lineaServicio.errors && isSubmit">
            <div *ngIf="lineaServicio.errors?.['required']" >
              <small  class="invalid-feedback">Dato requerido</small>
            </div>
          </div>
    
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="fechaDesde" class="col-sm-2 col-form-label">Desde</label>
        <div class="col-sm-10">
          <input type="datetime-local" class="form-control" id="fechaDesde" formControlName="fechaDesde">
    
          <div *ngIf="fechaDesde!=null && fechaDesde.errors && isSubmit">
            <div *ngIf="fechaDesde.errors?.['required']" >
              <small  class="invalid-feedback">Dato requerido</small>
            </div>
          </div>
    
        </div>
      </div>  
    
      <div class="form-group row mb-3">
        <label for="fechaHasta" class="col-sm-2 col-form-label">Hasta</label>
        <div class="col-sm-10">
          <input type="datetime-local" class="form-control" id="fechaHasta" formControlName="fechaHasta">
    
          <div *ngIf="fechaHasta!=null && fechaHasta.errors && isSubmit">
            <div *ngIf="fechaHasta.errors?.['required']" >
              <small  class="invalid-feedback">Dato requerido</small>
            </div>
          </div>
    
        </div>
      </div>  

      
    <div class="col-12 d-flex justify-content-center">
      <button class="btn btn-primary" type="submit">Grabar</button>
    </div>

    
    </form>