<div class="col-12 d-flex justify-content-center py-3 font-weight-bold">
    <h4>Reporte de visitas diarias</h4>
</div>


<form >

    <div class="row">

        <div class="col-md-10">
            <div class="form-group row mb-3">
                <label for="fecDesde" class="col-sm-2 col-form-label">Desde</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="fecDesde" name="fecDesde" [(ngModel)]="fecDesde">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="fecHasta" class="col-sm-2 col-form-label">Hasta</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="fecHasta" name="fecHasta" [(ngModel)]="fecHasta">
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-2 d-flex justify-content-center">
            <div style="align-self: end; padding-bottom: 15px;">
                <button class="btn btn-primary" type="button" (click)="buscar()">
                    <span class="btn-label"><i class="bi bi-search"></i></span>
                    Buscar</button>
                    <button class="btn btn-danger" type="button"  (click)="limiarFiltro()">
                        <span class="btn-label"><i class="bi bi-trash"></i></span>
                        limpiar</button>
            </div>
        </div>

    </div>
    <div class="mt-3" *ngIf="listaMostrar.length > 0">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Número de doc.</th>
                    <th>Trabajador</th>
                    <th>Piso</th>
                    <th>Cubiculo</th>
                    <th>Asiento</th>
                    <th></th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of listaMostrar">

                        <tr>
                            <td>{{item.numero_documento}}</td>
                            <td>{{item.nombre}} {{item.apellido}}</td>
                            <td>{{item.descripcionpiso}}</td>
                            <td>{{item.descripcioncubiculo}}</td>
                            <td>{{item.nomenclaturapiso}}{{item.nomenclaturacubiculo}}{{item.nomenclaturalado}}{{item.nomenclaturaasiento}}</td>
                            <td>
                                <button class="btn" type="button" (click)="descargar(item)">
                                    <span class="btn-label"><i class="bi bi-file-earmark-arrow-down"></i></span>
                                </button>
                            </td>
                        </tr>

                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>

</form>

<div class="container" style="display: none;">
    <div id="pdfTable" #pdfTable>
        <br>
        <h5>Reserva {{item?.id_visita}}</h5>
                <br>
      <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>Número documento :</td>
            <td>{{item?.numero_documento}}</td>
          </tr>
          <tr>
            <td>Nombres :</td>
            <td>{{item?.nombre}} {{item?.apellido}}</td>
          </tr>
          <tr>
            <td>Linea :</td>
            <td>{{item?.nombre_linea}}</td>
          </tr>
          <tr>
            <td>Desde :</td>
            <td>{{item?.fecha_desde}}</td>
          </tr>
          <tr>
            <td>Hasta :</td>
            <td>{{item?.fecha_hasta}}</td>
          </tr>
          <tr>
            <td>piso :</td>
            <td>{{item?.descripcionpiso}}</td>
          </tr>
          <tr>
            <td>Cubiculo :</td>
            <td>{{item?.descripcioncubiculo}}</td>
          </tr>
          <tr>
            <td>Lado :</td>
            <td>{{item?.descripcionlado}}</td>
          </tr>
          <tr>
            <td>Asiento :</td>
            <td>{{item?.descripcionasiento}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>