<div class="container">

  <div class="d-flex justify-content-center">


    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.aicad.es/asset/img/2/se-puede-cerrar-una-empresa-y-volver-a-abrir.jpg"
        alt="Card image cap">
      <div class="card-body">

        <form class="needs-validation" [formGroup]="loginForm" (ngSubmit)="signIn()">

          <div class="container-login">

            <div class="form-outline mb-4">
              <input type="text" id="form2Example1" class="form-control" placeholder="Usuario"
                formControlName="usuario" />
              <div *ngIf="usuario !=null && usuario.errors && isSubmit">
                <div *ngIf="usuario.errors?.['required']" >
                  <small  class="invalid-feedback">Dato requerido</small>
                </div>
              </div>
            </div>


              <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" placeholder="Clave"
                  formControlName="clave" />

                  <div *ngIf="clave !=null && clave.errors && isSubmit">
                    <div *ngIf="clave.errors?.['required']" >
                      <small  class="invalid-feedback">Dato requerido</small>
                    </div>
                  </div>

              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block mb-4">Iniciar Sesion</button>
              </div>
            </div>
        </form>

      </div>
    </div>

  </div>
</div>