<div class="col-12 d-flex justify-content-center py-3 font-weight-bold">
    <h4>Registro de firma</h4>
  </div>
  
  
  <form [formGroup]="registrofirma" (ngSubmit)="grabar()">

    <div class="form-group row mb-3">
        <label for="piso" class="col-sm-2 col-form-label">Piso</label>
        <div class="col-sm-10">
    
          <select id="piso" class="form-select" formControlName="piso">
            <option selected value="">-- Seleccione --</option>
            <option value="P1">piso 1</option>
            <option value="P2">Piso 2</option>
            <option value="P3">Piso 3</option>
            <option value="P4">Piso 4</option>
          </select>
    
          <div *ngIf="piso !=null && piso.errors && isSubmit">
            <div *ngIf="piso.errors?.['required']" >
              <small  class="invalid-feedback">Dato requerido</small>
            </div>
          </div>
    
        </div>
      </div>
  
    <div class="form-group row mb-3">
      <label for="lado" class="col-sm-2 col-form-label">Lado</label>
      <div class="col-sm-10">
  
        <select id="lado" class="form-select" formControlName="lado">
          <option selected value="">-- Seleccione --</option>
          <option value="I">Izquierdo</option>
          <option value="D">Derecho</option>
        </select>
  
        <div *ngIf="lado !=null && lado.errors && isSubmit">
          <div *ngIf="lado.errors?.['required']" >
            <small  class="invalid-feedback">Dato requerido</small>
          </div>
        </div>
  
      </div>
    </div>

    <div class="form-group row mb-3">
        <label for="cubiculo" class="col-sm-2 col-form-label">Cubiculo</label>
        <div class="col-sm-10">
    
          <select id="cubiculo" class="form-select" formControlName="cubiculo">
            <option selected value="">-- Seleccione --</option>
            <option value="C1">Cubiculo 1</option>
            <option value="C2">Cubiculo 2</option>
          </select>
    
          <div *ngIf="cubiculo !=null && cubiculo.errors && isSubmit">
            <div *ngIf="cubiculo.errors?.['required']" >
              <small  class="invalid-feedback">Dato requerido</small>
            </div>
          </div>
    
        </div>
      </div>

      
    <div class="form-group row mb-3">
        <label for="asiento" class="col-sm-2 col-form-label">Asiento</label>
        <div class="col-sm-10">
    
          <select id="asiento" class="form-select" formControlName="asiento">
            <option selected value="">-- Seleccione --</option>
            <option value="1">Asiento 1</option>
            <option value="2">Asiento 2</option>
            <option value="3">Asiento 3</option>
            <option value="4">Asiento 4</option>
          </select>
    
          <div *ngIf="asiento !=null && asiento.errors && isSubmit">
            <div *ngIf="asiento.errors?.['required']" >
              <small  class="invalid-feedback">Dato requerido</small>
            </div>
          </div>
    
        </div>
      </div>
  
  
    <div class="col-12 d-flex justify-content-center">
      <button class="btn btn-primary" type="submit">Grabar</button>
    </div>
  
    <div class="mt-3" *ngIf="listaElementos.length > 0">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Piso</th>
                    <th>Lado</th>
                    <th>Asiento</th>
                    <th></th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of listaElementos">

                        <tr>
                            <td>{{item.pisoDescripcion}}</td>
                            <td>{{item.ladoDescripcion}}</td>
                            <td>{{item.piso}}{{item.cubiculo}}{{item.lado}}{{item.asiento}}</td>
                            <td>
                                <button class="btn text-danger" type="button" (click)="quitar(item)">
                                    <span class="btn-label"><i class="bi bi-trash"></i>Eliminar</span>
                                </button>
                            </td>
                        </tr>

                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>


  </form>