
  <div class="modal fade show" id="modalSpinner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none; padding-right: 17px;background: #0000005c;">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="align-items: center;background-color: transparent;border: none;">
        
          <div class="spinner-border text-primary" role="status">
            
          </div>
          
      </div>
    </div>
  </div>
<router-outlet></router-outlet>

