<div class="col-12 d-flex justify-content-center py-3 font-weight-bold">
    <h4>Reporte de empleados vacunados</h4>
</div>


<form (ngSubmit)="buscar()">

    <div class="row">

        <div class="col-md-10">

            <div class="form-group row mb-3">
                <label for="numDoc" class="col-sm-2 col-form-label">Número doc</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="numDoc" name="numDoc" [(ngModel)]="numDoc">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="nombres" class="col-sm-2 col-form-label">Nombres</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombres" name="nombres" [(ngModel)]="nombres">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="apellidos" class="col-sm-2 col-form-label">Apellidos</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="apellidos">
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-2 d-flex justify-content-center">
            <div style="align-self: end; padding-bottom: 15px;">
                <button class="btn btn-primary" type="submit">
                    <span class="btn-label"><i class="bi bi-search"></i></span>
                    Buscar</button>

                    <button class="btn btn-danger" type="button"  (click)="limiarFiltro()">
                        <span class="btn-label"><i class="bi bi-trash"></i></span>
                        limpiar</button>
                        
            </div>
        </div>

    </div>
    <div class="mt-3" *ngIf="listaMostrar.length > 0">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Número de doc.</th>
                    <th>Trabajador</th>
                    <th>Vacunado</th>
                    <th></th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of listaMostrar">

                        <tr>
                            <td>{{item.numero_documento}}</td>
                            <td>{{item.nombre}} {{item.apellido}}</td>
                            <td>{{item.vacunado==1?"SI":"NO"}}</td>
                            <td>
                                <button class="btn" type="button" (click)="descargar(item)">
                                    <span class="btn-label"><i class="bi bi-file-earmark-arrow-down"></i></span>
                                </button>

                                

                                <!-- <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    (click)="mostrar(item)">
                                    <span class="btn-label"><i class="bi bi-eye"></i></span>
                                </button> -->
                            </td>
                        </tr>

                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>

</form>


<div class="container" style="display: none;">
    <div id="pdfTable" #pdfTable>
        <br>
        <h5>Detalle Vacunado {{persona?.id_persona}}</h5>
                <br>
      <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>Número documento :</td>
            <td>{{persona?.numero_documento}}</td>
          </tr>
          <tr>
            <td>Nombres :</td>
            <td>{{persona?.nombre}}</td>
          </tr>
          <tr>
            <td>Apellidos :</td>
            <td>{{persona?.apellido}}</td>
          </tr>
          <tr>
            <td>Número de dosis :</td>
            <td>{{persona?.numero_dosis}}</td>
          </tr>
          <tr>
            <td>Tipo vacuna :</td>
            <td>{{persona?.descripcion!=""?(persona?.descripcion):persona?.descripcion_otro_tipo}}</td>
          </tr>
          <tr>
            <td>Fecha de vacunacion :</td>
            <td>{{persona?.fecha_vacunacion}}</td>
          </tr>
          <tr>
            <td>Lote :</td>
            <td>{{persona?.lote}}</td>
          </tr>
          <tr>
            <td>¿Esta vacunado? :</td>
            <td>{{persona?.vacunado==1?"SI":"NO"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

