<div class="col-12 d-flex justify-content-center py-3 font-weight-bold">
    <h4>Asignación de espacios</h4>
  </div>
  
  
  <div class="mt-3" *ngIf="listaElementos.length > 0">

    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Trabajador</th>
                <th>Linea</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listaElementos">

                    <tr>
                        <td>{{item.nombre}} {{item.apellido}}</td>
                        <td>{{item.nombre_linea}}</td>
                        <td>{{item.fecha_desde}}</td>
                        <td>{{item.fecha_hasta}}</td>
                        <td>
                            <div *ngIf="item.estado>0">
                                <button class="btn text-warning" type="button" (click)="desasignar(item)">
                                    <span class="btn-label"><i class="bi bi-dash-square"></i> Desasignar</span>
                                </button>
                            </div>
                            <div *ngIf="item.estado==0">
                                <button class="btn text-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="asignar(item)">
                                    <span class="btn-label"><i class="bi bi-plus-square"></i> Asignar</span>
                                </button>
                            </div>
                            
                        </td>
                    </tr>

                </ng-container>
            </tbody>
        </table>
    </div>

</div>





<!-- Modal -->
<div class="modal fade show" id="modalAsignarEspacio" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none; padding-right: 17px;background: #0000005c;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                
                <div class="col-sm-12 col-md-12 d-flex justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel">Asignar</h5>

                </div>

                <!-- <div class="col-sm-2 col-md-2 d-flex justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->

            </div>
            <div class="modal-body">

                <form [formGroup]="registrofirma" (ngSubmit)="grabar(persona)">

                    <div class="row">
                        <div class="form-group row mb-3">
                            <label for="numDoc" class="col-sm-4 col-form-label">Número documento :</label>
                            <div class="col-sm-8">
                                <label id="numDoc"> {{persona?.numero_documento}} </label>
                            </div>
                        </div>
        
                        <div class="form-group row mb-3">
                            <label for="numDoc" class="col-sm-4 col-form-label">Nombres :</label>
                            <div class="col-sm-8">
                                <label id="numDoc"> {{persona?.nombre}} {{persona?.apellido}} </label>
                            </div>
                        </div>
        
                        <div class="form-group row mb-3">
                            <label for="numDoc" class="col-sm-4 col-form-label"> Linea : </label>
                            <div class="col-sm-8">
                                <label id="numDoc"> {{persona?.nombre_linea}} </label>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="numDoc" class="col-sm-4 col-form-label"> Desde : </label>
                            <div class="col-sm-8">
                                <label id="numDoc"> {{persona?.fecha_desde}} </label>
                            </div>
                        </div>
        
                        <div class="form-group row mb-3">
                            <label for="numDoc" class="col-sm-4 col-form-label"> Hasta : </label>
                            <div class="col-sm-8">
                                <label id="numDoc"> {{persona?.fecha_hasta}} </label>
                            </div>
                        </div>

                                
                        <div class="form-group row mb-3">
                            <label for="piso" class="col-sm-4 col-form-label">Piso</label>
                            <div class="col-sm-8">
                        
                              <select id="piso" class="form-select" formControlName="piso">
                                <option selected value="">-- Seleccione --</option>
                                <option [value]="item.id_piso" *ngFor="let item of listaPisos">{{item.descripcion}}</option>
                              </select>
                        
                              <div *ngIf="piso !=null && piso.errors && isSubmit">
                                <div *ngIf="piso.errors?.['required']" >
                                  <small  class="invalid-feedback">Dato requerido</small>
                                </div>
                              </div>
                        
                            </div>
                          </div>

                        <div class="form-group row mb-3">
                            <label for="cubiculo" class="col-sm-4 col-form-label">Cubiculo</label>
                            <div class="col-sm-8">
                        
                              <select id="cubiculo" class="form-select" formControlName="cubiculo">
                                <option selected value="">-- Seleccione --</option>
                                <option [value]="item.id_cubiculo" *ngFor="let item of listaCubiculos">{{item.descripcion}}</option>
                              </select>
                        
                              <div *ngIf="cubiculo !=null && cubiculo.errors && isSubmit">
                                <div *ngIf="cubiculo.errors?.['required']" >
                                  <small  class="invalid-feedback">Dato requerido</small>
                                </div>
                              </div>
                        
                            </div>
                          </div>
                          
                        <div class="form-group row mb-3">
                            <label for="lado" class="col-sm-4 col-form-label">Lado</label>
                            <div class="col-sm-8">
                        
                              <select id="lado" class="form-select" formControlName="lado">
                                <option selected value="">-- Seleccione --</option>
                                <option [value]="item.id_lado" *ngFor="let item of listaLados">{{item.descripcion}}</option>
                              </select>
                        
                              <div *ngIf="lado !=null && lado.errors && isSubmit">
                                <div *ngIf="lado.errors?.['required']" >
                                  <small  class="invalid-feedback">Dato requerido</small>
                                </div>
                              </div>
                        
                            </div>
                          </div>
                      
                          
                      
                            
                          <div class="form-group row mb-3">
                              <label for="asiento" class="col-sm-4 col-form-label">Asiento</label>
                              <div class="col-sm-8">
                          
                                <select id="asiento" class="form-select" formControlName="asiento">
                                  <option selected value="">-- Seleccione --</option>
                                  <option [value]="item.id_asiento" *ngFor="let item of listaAsientos">{{item.descripcion}}</option>
                                </select>
                          
                                <div *ngIf="asiento !=null && asiento.errors && isSubmit">
                                  <div *ngIf="asiento.errors?.['required']" >
                                    <small  class="invalid-feedback">Dato requerido</small>
                                  </div>
                                </div>
                          
                              </div>
                            </div>

        
        
                        <div class="col-sm-12 col-md-12 d-flex justify-content-center">
                            <div style="align-self: end; padding-bottom: 15px;">
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                                    
                                    Grabar</button>
                            </div>

                            <div style="align-self: end; padding-bottom: 15px;">
                                
                                <div (click)="cancelar()" class="btn btn-white">
                                    
                                    Cancelar</div>
                            </div>
                        </div>
        
                       </div>

                       
                </form>
                


            </div>
        </div>
    </div>
</div>