<div class="col-12 d-flex justify-content-center py-3 font-weight-bold">
  <h4>Registro de vacuna</h4>
</div>


<form [formGroup]="registrovacuna" (ngSubmit)="grabar()">

  <div class="form-group row mb-3">
    <label for="numDosis" class="col-sm-2 col-form-label">Número de dosis</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="numDosis" formControlName="numDosis">

      <div *ngIf="numDosis !=null && numDosis.errors && isSubmit">
        <div *ngIf="numDosis.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="tipovacuna" class="col-sm-2 col-form-label">Tipo vacuna</label>
    <div class="col-sm-10">

      <select id="tipovacuna" class="form-select" formControlName="tipovacuna" (change)="tipoVacunaSeleccionado()">
        <option selected value="">-- Seleccione Tipo Vacuna --</option>
        <option [value]="item.id_tipo_vacuna" *ngFor="let item of listavacunas">{{item.descripcion}}</option>
      </select>

      <div *ngIf="tipovacuna !=null && tipovacuna.errors && isSubmit">
        <div *ngIf="tipovacuna.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3" *ngIf="mostrarEspecifiqueVacuna">
    <label for="especificacion" class="col-sm-2 col-form-label">Especifique tipo vacuna</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="especificacion"  formControlName="especificacion">

      <div *ngIf="especificacion !=null && especificacion.errors && isSubmit">
        <div *ngIf="especificacion.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="fecVacunacion" class="col-sm-2 col-form-label">Fecha de vacunación</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="fecVacunacion" formControlName="fecVacunacion">

      <div *ngIf="fecVacunacion !=null && fecVacunacion.errors && isSubmit">
        <div *ngIf="fecVacunacion.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="lote" class="col-sm-2 col-form-label">Lote</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lote" formControlName="lote">

      <div *ngIf="lote !=null && lote.errors && isSubmit">
        <div *ngIf="lote.errors?.['required']" >
          <small  class="invalid-feedback">Dato requerido</small>
        </div>
      </div>

    </div>
  </div>


  <div class="col-12 d-flex justify-content-center">
    <button class="btn btn-primary" type="submit">Grabar</button>
  </div>

</form>